### The questions for the exercises are given above the cells and the expected output is given below the cell. Please type the code inserting a new cell below the question because if you run the expected output cell the output would vanish! Happy learning!

## Exercise Question 1: Given an input list removes the element at index 4 and add it to the 2nd position and also, at the end of the list

For example: List = [54, 44, 27, 79, 91, 41]

In [1]:
sample_lst = [34, 54, 67, 89, 11, 43, 94]

print("Original list:", sample_lst)
ele = sample_lst.pop(4)
print(ele)
print("List After removing element at index 4", sample_lst)

sample_lst.insert(2,ele)
print("List after Adding element at index 2", sample_lst)

sample_lst.append(ele)
print("List after Adding element at last", sample_lst)

Original list: [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4 [34, 54, 67, 89, 43, 94]
List after Adding element at index 2 [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last [34, 54, 11, 67, 89, 43, 94, 11]

Original list  [34, 54, 67, 89, 11, 43, 94]
List After removing element at index 4  [34, 54, 67, 89, 43, 94]
List after Adding element at index 2  [34, 54, 11, 67, 89, 43, 94]
List after Adding element at last  [34, 54, 11, 67, 89, 43, 94, 11]

## Exercise Question 2: Given a two list of equal size create a list of unique elements from both the lists into a seperate list

In [ ]:
1. first 
2. Add the second list 
3. remove duplicates 
4. return in back as list

In [9]:
firstlst = [2, 3, 4, 5, 6, 7, 8]
secndlst = [4, 9, 16, 25, 36, 49, 64]

#method 1
newlst1 = firstlst + secndlst

#method 2
firstlst.extend(secndlst)

result = list(set(newlst1))
print(result)

[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

In [14]:
newlst1

[2, 3, 4, 5, 6, 7, 8, 4, 9, 16, 25, 36, 49, 64]

In [8]:
firstlst

[2, 3, 4, 5, 6, 7, 8, 4, 9, 16, 25, 36, 49, 64]

First List  [2, 3, 4, 5, 6, 7, 8]
Second List  [4, 9, 16, 25, 36, 49, 64]
[64, 2, 3, 4, 5, 6, 7, 8, 9, 36, 16, 49, 25]

## Exercise Question 3: Remove duplicate from a list and create a tuple and find the minimum and maximum number (Hint: Try Functions Min() and Max() )

In [15]:
sample_list = [87, 52, 44, 53, 54, 87, 52, 53]

print("Original list",sample_list)

sample_list = list(set(sample_list))
print("unique list", sample_list)

tuple_ = tuple(sample_list)
print("tuple ",tuple_)

print("Minimum number is:",min(tuple_))
print("Maximum number is:",max(tuple_))

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is: 44
Maximum number is: 87

Original list [87, 52, 44, 53, 54, 87, 52, 53]
unique list [44, 52, 53, 54, 87]
tuple  (44, 52, 53, 54, 87)
Minimum number is:  44
Maximum number is:  87

## Exercise Question 4: Display the each word in the string Count the number of words in a string and display it (Including the white spaces)

In [19]:
#Printing each words seperately 
a = "what's up?"
print(*a)

w h a t ' s   u p ?

In [18]:
input_val = 'Welcome to Python'
#print(list(input_val))

words = list(input_val)
print("Printing each words seperately:", *words)
print("The Length of string:",len(input_val))

Printing each words seperately: W e l c o m e   t o   P y t h o n
The Length of string: 17

In [19]:
list(input_val)

['W',
 'e',
 'l',
 'c',
 'o',
 'm',
 'e',
 ' ',
 't',
 'o',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n']

The sample string: Welcome to Python
Printing each words seperately:  W e l c o m e   t o   P y t h o n
The Length of the string 17

##  Exercise Question 5: Write a Python program to access dictionary keys element by index. i.e. Use indexing methods to print the first key

In [25]:
score = {'physics': 80, 'math': 90, 'chemistry': 86}

list(score)[0]

'physics'

In [22]:
list(score.values())

[80, 90, 86]

In [23]:
list(score.keys())

['physics', 'math', 'chemistry']

In [24]:
list(score.items())

[('physics', 80), ('math', 90), ('chemistry', 86)]

The dictionary is:  {'physics': 80, 'math': 90, 'chemistry': 86}
The key element accesed by index:  physics