In [1]:
import pandas as pd

In [2]:
def square(y):
    return y*y

In [3]:
square(4)

16

#1. Annoymous functions

1. Function has no name 


lambda parameters / arguments: (operation)


it returns the values to the left side

In [4]:
x = lambda y: y*y
print(x(2))

4

In [5]:
df_movies = pd.read_csv("https://raw.githubusercontent.com/Laxminarayen/Inceptez-DS-Batch20/main/3.%20Pandas/IMDB-Movie-Data.csv")
df_movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [6]:
df_movies['Rating'].apply(lambda x:square(x))

0      65.61
1      49.00
2      53.29
3      51.84
4      38.44
       ...
995    38.44
996    30.25
997    38.44
998    31.36
999    28.09
Name: Rating, Length: 1000, dtype: float64

In [7]:
def sum_(x,y):
    return x+y

In [10]:
#Example with using 2 column values inside a fuction
df_movies['sum_meta_rating'] = df_movies.apply(lambda x: sum_(x.Rating,x.Metascore), axis = 1)

In [11]:
df_movies.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore,sum_meta_rating
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0,84.1
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0,72.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0,69.3
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0,66.2
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0,46.2

In [12]:
df_movies.apply?

In [ ]:
#Map 
Syntax: map(function, iterable) --> map 
    Make an iterator that computes the function using arguments from
each of the iterables.

In [13]:
#Without Map 
myfriends = ['hello','happy','bye','sad']
uppercase = []

for name in myfriends: 
    name_upper = name.upper()
    uppercase.append(name_upper)
uppercase

['HELLO', 'HAPPY', 'BYE', 'SAD']

In [21]:
list(map(str.upper, myfriends))

['HELLO', 'HAPPY', 'BYE', 'SAD']

In [18]:
float_ = [4.55,7.88,9.77,2.333,5.66]
int_ = list(map(round, float_))

In [19]:
int_

[5, 8, 10, 2, 6]

In [26]:
#Zip and enumerate
#Zip - iterate over two lists in parallel
zip?

In [23]:
for i,j in zip(range(0,10,1),range(0,100,10)):
    print(i+j)

0
11
22
33
44
55
66
77
88
99

In [27]:
list(zip('abcdefg', range(3), range(4)))

[('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]

In [30]:
enumerate?

In [31]:
a = [1,5,6,7,89,9]

In [32]:
for i, ele in enumerate(a):
    print(i,ele)

0 1
1 5
2 6
3 7
4 89
5 9

In [39]:
indx_list = []
for i, ele in enumerate(df_movies['Genre']):
    if 'Action' in ele: 
        indx_list.append(i)

In [40]:
indx_list

[0,
 4,
 5,
 8,
 12,
 14,
 17,
 24,
 26,
 29,
 32,
 33,
 34,
 35,
 37,
 38,
 45,
 48,
 50,
 51,
 53,
 54,
 60,
 65,
 67,
 69,
 71,
 75,
 76,
 78,
 79,
 80,
 84,
 85,
 87,
 89,
 91,
 94,
 95,
 101,
 104,
 107,
 110,
 113,
 117,
 123,
 124,
 126,
 134,
 140,
 147,
 149,
 153,
 155,
 156,
 158,
 159,
 161,
 162,
 163,
 164,
 166,
 168,
 169,
 175,
 176,
 177,
 179,
 194,
 195,
 199,
 200,
 203,
 204,
 205,
 210,
 212,
 213,
 214,
 215,
 216,
 217,
 219,
 220,
 227,
 228,
 232,
 233,
 234,
 239,
 240,
 243,
 248,
 253,
 256,
 257,
 264,
 268,
 270,
 272,
 275,
 276,
 279,
 281,
 284,
 285,
 286,
 287,
 288,
 290,
 294,
 300,
 301,
 308,
 315,
 316,
 317,
 319,
 322,
 323,
 325,
 331,
 334,
 340,
 341,
 342,
 344,
 345,
 355,
 362,
 368,
 369,
 370,
 371,
 372,
 373,
 375,
 379,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 396,
 400,
 402,
 408,
 410,
 414,
 420,
 422,
 423,
 424,
 426,
 427,
 429,
 432,
 433,
 434,
 438,
 446,
 448,
 450,
 452,
 453,
 454,
 465,
 466,
 468,
 469,
 472,
 482,
 484,
 491,
 492,
 493,
 496,
 500,
 511,
 516,
 517,
 522,
 525,
 526,
 528,
 529,
 532,
 533,
 535,
 536,
 537,
 542,
 552,
 557,
 558,
 560,
 564,
 566,
 575,
 576,
 577,
 578,
 580,
 581,
 585,
 587,
 596,
 597,
 599,
 600,
 601,
 603,
 609,
 615,
 617,
 618,
 621,
 624,
 625,
 626,
 649,
 657,
 660,
 663,
 673,
 674,
 676,
 679,
 680,
 683,
 687,
 690,
 693,
 698,
 702,
 704,
 710,
 718,
 724,
 728,
 737,
 739,
 741,
 753,
 758,
 759,
 763,
 766,
 767,
 770,
 771,
 772,
 777,
 780,
 781,
 787,
 789,
 794,
 799,
 802,
 803,
 806,
 809,
 810,
 822,
 827,
 828,
 833,
 837,
 844,
 854,
 856,
 869,
 871,
 872,
 878,
 879,
 880,
 892,
 894,
 895,
 901,
 903,
 904,
 916,
 920,
 921,
 923,
 924,
 935,
 938,
 944,
 948,
 954,
 956,
 958,
 968,
 969,
 990,
 993]

In [44]:
filter?

In [45]:
scores = [50,60,70,80,90,95]
def lower_score(score):
    return score<70

In [46]:
#this put in short is map
for i in scores: 
    print(lower_score(i))

True
True
False
False
False
False

In [56]:
list(map(lower_score,scores))

[True, True, False, False, False, False]

In [55]:
list(filter(lower_score,scores))

[50, 60]

In [51]:
list(filter(lambda x: not lower_score(x),scores))

[70, 80, 90, 95]

In [57]:
#list comprehension
words = ['vowels','batch20','inceptez','data','Science','Students','class','clss','dt','Ds','pythn']
vowels = ['a','e','i','o','u']

In [63]:
import datetime 
start = datetime.datetime.now()
for i in words: 
    for j in i: 
        if(j in vowels):
            print(i)
            break
print((datetime.datetime.now()-start)*1000)

vowels
batch20
inceptez
data
Science
Students
class
0:00:00.674000

In [67]:
import datetime 
start = datetime.datetime.now()
for i in words:
    word = list(i)
    #print(word)
    if(any(k in vowels for k in word)):
        print(i)
print((datetime.datetime.now()-start)*1000)

vowels
batch20
inceptez
data
Science
Students
class
0:00:00.627000

In [72]:
import datetime 
start = datetime.datetime.now()
hal = set([i for i in words for k in i if k in vowels])
#print(hal)
print((datetime.datetime.now()-start)*1000)

0:00:00.339000

In [74]:
tuple(i*2 for i in (1,2,3))

(2, 4, 6)

In [73]:
hal

{'Science', 'Students', 'batch20', 'class', 'data', 'inceptez', 'vowels'}

In [ ]:
#List comprehension - form - shorter syntax - which creates a list based on exsisting iterable/structures

In [ ]:
#Recursive functions - Functions calling themselves 
Factorial - recurssion
4! - 4*3*2*1
5! - 5*4*3*2*1
10! - 10*9*8*.....*1

In [ ]:
num = num*(num-1)

In [75]:
def fact(num):
    if(num == 1):
        return 1 
    else: 
        return(num*fact(num-1))

In [76]:
fact(4)

24

In [ ]:
fact(4) -> 4* fact(3) -> 3* fact(2) -> 2 *fact(1)-> 1

In [78]:
tuple?